[project]
name = "python-immunization-charts"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = [
    "openpyxl>=3.1.5",
    "pandas>=2.2.3",
    "pyyaml>=6.0.2",
    "typst>=0.13.2",
]

[dependency-groups]
dev = [
    "ipykernel>=6.29.5",
]
